extends ../_layout
block init
  -
    const meta = {
      title: "Student Freepaper Forum Event",
      path: '../'
    }
    const page = {
      id: "event"
    }
block contents
  section.mainChildBox
    .eventTitle
      img(src=`${path}/images/menu-icon-3.svg`, alt="")
  section#eventMem.eventBox
    p.subTitle イベント内容
    .mainSentence SFF2019の会場内には、学生にとって関心の高いテーマからニッチなテーマまで、
      br
      | 多種多様なフリーペーパーが揃っています。
      br
      | 50の学生フリーペーパー団体が常駐する
      br.sp
      | ブースを構えておりますので、制作者との
      br
      | 対話・交流もお楽しみいただけます。
      br
      | （当日ご出席が難しい団体さまの媒体をご覧いただけるブースもございます。）
      br
      br
      | 1階ステージでは、学生フリーペーパーの
      br.sp
      | グランプリを決定する
      br.sp
      | コンテスト企画・第一線で
      br
      | 活躍するグラフィックデザイナーの方を
      br.sp
      | お呼びしたトークショーも開催いたします。
      br
      br
      | さらに、SFFオリジナルのワークショップ
      br.sp
      | 企画や、現役美大生による会場演出など、
      br
      | さまざまなコンテンツを
      br.sp
      | ご用意しております。
      br
      | 詳細は、下記の情報やタイムテーブルを
      br.sp
      | ご覧ください。
  section#eventMem.eventBox
    p.subTitle 学生出展媒体一覧
    .eventImgBox
      .eventImgInner
        .imgBox
          img(src=`${path}images/1_Magadipita.png`, alt="1_Magadipita").lazyload
        .imgTitle Magadipita
      .eventImgInner
        .imgBox
          img(src=`${path}images/2_ariozo.jpg`, alt="2_ariozo").lazyload
        .imgTitle アリオーゾ
      .eventImgInner
        .imgBox
          img(src=`${path}images/3_bootleg.jpg`, alt="3_bootleg").lazyload
        .imgTitle bootleg
      .eventImgInner
        .imgBox
          img(src=`${path}images/4_outmeiji.jpg`, alt="4_outmeiji").lazyload
        .imgTitle アウトメイジ
      .eventImgInner
        .imgBox
          img(src=`${path}images/5_tot.png`, alt="5_tot").lazyload
        .imgTitle tot
      .eventImgInner
        .imgBox
          img(src=`${path}images/7_wasekichi.jpg`, alt="7_wasekichi").lazyload
        .imgTitle ワセキチ
      .eventImgInner
        .imgBox
          img(src=`${path}images/8_backpacker.jpg`, alt="8_backpacker").lazyload
        .imgTitle BACKPACKER
      .eventImgInner
        .imgBox
          img(src=`${path}images/9_fastner.jpg`, alt="9_fastner").lazyload
        .imgTitle FASTNER
      .eventImgInner
        .imgBox
          img(src=`${path}images/10_ReGo.jpg`, alt="10_ReGo").lazyload
        .imgTitle Re:Go
      .eventImgInner
        .imgBox
          img(src=`${path}images/11_watcha.jpg`, alt="11_watcha").lazyload
        .imgTitle WATCHä!!
      .eventImgInner
        .imgBox
          img(src=`${path}images/12_each.jpg`, alt="12_each").lazyload
        .imgTitle each,
      .eventImgInner
        .imgBox
          img(src=`${path}images/13_lovehotelzukan.jpg`, alt="13_lovehotelzukan").lazyload
        .imgTitle ラブホ図鑑
      .eventImgInner
        .imgBox
          img(src=`${path}images/14_whim.jpg`, alt="14_whim").lazyload
        .imgTitle whim
      .eventImgInner
        .imgBox
          img(src=`${path}images/15_SAN.jpg`, alt="15_SAN").lazyload
        .imgTitle SAN＋
      .eventImgInner
        .imgBox
          img(src=`${path}images/16_belle.jpg`, alt="16_belle").lazyload
        .imgTitle belle
      .eventImgInner
        .imgBox
          img(src=`${path}images/17_komastry.jpg`, alt="17_komastry").lazyload
        .imgTitle Komastry
      .eventImgInner
        .imgBox
          img(src=`${path}images/18_Twinkle.jpg`, alt="18_Twinkle").lazyload
        .imgTitle Twinkle
      .eventImgInner
        .imgBox
          img(src=`${path}images/20_brauz.jpg`, alt="20_brauz").lazyload
        .imgTitle brauz
      .eventImgInner
        .imgBox
          img(src=`${path}images/21_wasedakoukoku.jpg`, alt="21_wasedakoukoku").lazyload
        .imgTitle 早稲田広告
      .eventImgInner
        .imgBox
          img(src=`${path}images/22_kotonoha.jpg`, alt="22_kotonoha").lazyload
        .imgTitle コトノハ
      .eventImgInner
        .imgBox
          img(src=`${path}images/23_mejimag.jpg`, alt="23_mejimag").lazyload
        .imgTitle mEJImag
      .eventImgInner
        .imgBox
          img(src=`${path}images/24_mix.jpg`, alt="24_mix").lazyload
        .imgTitle MIX
      .eventImgInner
        .imgBox
          img(src=`${path}images/25_mA.jpg`, alt="25_mA").lazyload
        .imgTitle mA
      .eventImgInner
        .imgBox
          img(src=`${path}images/26_tabiizyo.jpg`, alt="26_tabiizyo").lazyload
        .imgTitle たびぃじょ
      .eventImgInner
        .imgBox
          img(src=`${path}images/27_kuuls.jpg`, alt="27_kuuls").lazyload
        .imgTitle KUULS
      .eventImgInner
        .imgBox
          img(src=`${path}images/28_ikor.jpg`, alt="28_ikor").lazyload
        .imgTitle ikor
      .eventImgInner
        .imgBox
          img(src=`${path}images/29_chotbetter.jpg`, alt="29_chotbetter").lazyload
        .imgTitle Chot★Better
      .eventImgInner
        .imgBox
          img(src=`${path}images/30_blooming.jpg`, alt="30_blooming").lazyload
        .imgTitle blooming
      .eventImgInner
        .imgBox
          img(src=`${path}images/31_gift.jpg`, alt="31_gift").lazyload
        .imgTitle GIFT
      .eventImgInner
        .imgBox
          img(src=`${path}images/32_croquis.jpg`, alt="32_croquis").lazyload
        .imgTitle croquis
      .eventImgInner
        .imgBox
          img(src=`${path}images/35_KooBee.jpg`, alt="35_KooBee").lazyload
        .imgTitle KooBee
      .eventImgInner
        .imgBox
          img(src=`${path}images/36_GMODE.jpg`, alt="36_GMODE").lazyload
        .imgTitle GMODE
      .eventImgInner
        .imgBox
          img(src=`${path}images/38_homegrow.jpg`, alt="38_homegrow").lazyload
        .imgTitle HOME GROW
      .eventImgInner
        .imgBox
          img(src=`${path}images/39_ReALL.jpg`, alt="39_ReALL").lazyload
        .imgTitle Re:ALL
      .eventImgInner
        .imgBox
          img(src=`${path}images/40_UUPRAS.jpg`, alt="40_UUPRAS").lazyload
        .imgTitle うーたす！
      .eventImgInner
        .imgBox
          img(src=`${path}images/41_iki.jpg`, alt="41_iki").lazyload
        .imgTitle リーペーパー『粋』
      .eventImgInner
        .imgBox
          img(src=`${path}images/42_Apollo.jpg`, alt="42_Apollo").lazyload
        .imgTitle Apollo
      .eventImgInner
        .imgBox
          img(src=`${path}images/43_raw.jpg`, alt="43_raw").lazyload
        .imgTitle RAW
      .eventImgInner
        .imgBox
          img(src=`${path}images/44_VIVID.jpg`, alt="44_VIVID").lazyload
        .imgTitle VIVID
      .eventImgInner
        .imgBox
          img(src=`${path}images/45_LinKU.jpg`, alt="45_LinKU").lazyload
        .imgTitle LinKU
      .eventImgInner
        .imgBox
          img(src=`${path}images/46_AGESTOCK.jpg`, alt="46_AGESTOCK").lazyload
        .imgTitle AGESTOCK
      .eventImgInner
        .imgBox
          img(src=`${path}images/47_seel.jpg`, alt="47_seel").lazyload
        .imgTitle Seel
      .eventImgInner
        .imgBox
          img(src=`${path}images/48_IU.jpg`, alt="48_IU").lazyload
        .imgTitle IU
      .eventImgInner
        .imgBox
          img(src=`${path}images/49_in.jpg`, alt="49_in").lazyload
        .imgTitle in
      .eventImgInner
        .imgBox
          img(src=`${path}images/51_wasedalinks.jpg`, alt="51_wasedalinks").lazyload
        .imgTitle WASEDA LINKS
      .eventImgInner
        .imgBox
          img(src=`${path}images/52_TanTan.jpg`, alt="52_TanTan").lazyload
        .imgTitle TanTan
      .eventImgInner
        .imgBox
          img(src=`${path}images/54_R'smagazine.jpg`, alt="54_R'smagazine").lazyload
        .imgTitle R'smagazine
      .eventImgInner
        .imgBox
          img(src=`${path}images/57_SPC.jpg`, alt="57_SPC").lazyload
        .imgTitle St.Paul's Campus
      .eventImgInner
        .imgBox
          img(src=`${path}images/58_Ricerca.jpg`, alt="58_Ricerca").lazyload
        .imgTitle Ricerca
      .eventImgInner
        .imgBox
          img(src=`${path}images/59_Revo.jpg`, alt="59_Revo").lazyload
        .imgTitle Revo
  section#eventSch.eventBox
    .title TIMETABLE
    p.subTitle 当日の流れ
    p.limited comming soon
  section#eventTak.eventBox
    .title TALKSHOW
    .titleBox
      h3 トークショー
      p.subTitle 『一般大卒でもデザイナーになれるけど、大事なのはそこじゃないと思う話』
      p @1階ステージ（14:30-15:30）
    .flexBox
      .imgBox
        img(src=`${path}/images/rio01.jpg`, alt="rio01")
      .imgBox
        img(src=`${path}/images/rio02.jpg`, alt="rio02")
    .sentenceBox
      p.sentence フリーランスデザイナー新井リオ氏を迎えて
        br.sp
        | トークショーを開催します。
        br
        br
        | 一般大学卒業という経歴でありながら、現在
        br.sp
        | フリーランスデザイナーという道を選び活躍している、新井リオ氏を迎えてトークショーを開催します。
        br.sp
        | 大学時代の海外生活経験や一般大生ならではの
        br.sp
        | デザイン勉強法、新井氏の経験に基づく自信の
        br.sp
        | つけ方などをお話して頂きます。
    .sentenceBox
      h4 《Profile》
      p 新井リオ
        br
        | グラフィックアーティスト
        br
        br
      p.sentence 1994年、東京生まれ。立教大学社会学部卒。
        br
        | 2016年にカナダへ渡りフリーランス
        br.sp
        | デザイナーに。
        br
        | 主な仕事にSony Music Shop / 
        br.sp
        | TOWER RECORDS 等とのコラボグッズ、
        br
        | 雑誌 WIRED / EYESCREAM web連載イラスト
        br.sp
        | 提供等。
        br
        | ミュージシャン（PENs+）として、日本で4枚のCD、アメリカで1枚のレコードをリリース。
        br
        | 英語学習法の発信も行っており、2020年1月に
        br.sp
        | 左右社より初著書を出版。
    .sentenceBox
      h4 《URL》
      .linkBox
        a.snsLink(href="https://www.instagram.com/_arairio/", target="_blank")
          span Twitter：https://mobile.twitter.com/_arairio
      .linkBox
        a.snsLink(href="https://www.instagram.com/_arairio/", target="_blank")
          span Instagram：https://www.instagram.com/_arairio/
      .linkBox
        a.snsLink(href="http://arairio.work", target="_blank")
          span Web：http://arairio.work
  section#eventWor.eventBox
    .title WORKSHOP
    p.subTitle 体験しよう！
    .flexBox
      .wsBox
        .imgBox
          img(src=`${path}images/workshop1.jpg`, alt="workshop1")
        .wsInfo
          .wsTitles
            p.firstTxt ブース紹介①
            h3.wsName Adobe Capture CC で缶バッジ
              br.sp
              | をつくろう！
            p.wsPresented Presented by アドビ システムズ 株式会社
          .wsDesc
            p 今年もやります！SFFの定番ワークショップになりつつある、毎年
              br.pc
              | 大人気の缶バッジワークショップ。「Adobe Capture CC」で手書きの
              br.pc
              | 文字やイラストをパス化。そのままクラウドを通してIllustratorで
              br.pc
              | 仕上げる工程を体験できます。
              br
              br
              | 今年は新たに話題のアプリ「Adobe Spark Post」が試せる体験ブース
              br.pc
              | も。誰でも簡単に、直感的にデザインを仕上げることができるこの
              br.pc
              | アプリはSNS  投稿用のための画像だけでなく、印刷用にA4サイズで
              br.pc
              | 制作することも。簡単なデザイン作業はいつでもどこでも、誰もが
              br.pc
              | できる時代へ！
      .wsBox
        .imgBox
          img(src=`${path}images/workshop2.jpg`, alt="workshop2")
        .wsInfo
          .wsTitles
            p.firstTxt ブース紹介②
            h3.wsName ユア・カラーチップ
              br
              | SFF × 株式会社竹尾
            p.wsPresented Presented by 株式会社竹尾
          .wsDesc
            p 昨年好評だったオリジナルカラーチップ作りを、SFF2019のメイン
              br.pc
              | カラー「ネオン」に合わせてご用意しました！カラーは全12色から
              br.pc
              | お好きな3色お選びいただけます。迷ったら皆様の紙選びをサポート
              br.pc
              | する「紙ソムリエ」まで。
              br
              br
              | 普段は紙に特別な思いを寄せることのない方も、「紙を選ぶ」という
              br.pc
              | 作業を通して紙を身近に感じていただけたら嬉しいです。
      .wsBox
        .imgBox
          img(src=`${path}images/workshop3.jpg`, alt="workshop3")
        .wsInfo
          .wsTitles
            p.firstTxt ブース紹介③
            h3.wsName 触れて感じる、紙の展示会　入門編
            p.wsPresented Presented by 株式会社竹尾
          .wsDesc
            p フリーペーパーを制作する時、意外と見落としがちな「紙の質」。
              br.pc
              | どんな紙を使うかによって、読者にもたらす印象は変化します。
              br
              br
              | しかし、紙にこだわりたくても、実際にどんな種類の紙があるのか
              br.pc
              | 分からないという方も多いのではないでしょうか？
              br.pc
              | そこで今回は、紙のエキスパートである竹尾さんとコラボし、様々な
              br.pc
              | 種類の紙で作った冊子を製本見本として展示します！
              br.pc
              | 紙に直接触れ、紙質の違いを感じることで、奥深い紙の世界の魅力に
              br.pc
              | 気づけるかもしれません。
      .wsBox
        .imgBox
          img(src=`${path}images/workshop4.jpg`, alt="workshop4")
        .wsInfo
          .wsTitles
            p.firstTxt ブース紹介④
            h3.wsName 神話の国しまね 八重垣神社の鏡の池がやって来た！
            p.wsPresented Presented by 神話の国 縁結び観光協会
          .wsDesc
            p 縁結びで有名な八重垣神社の「鏡の池」が神保町で体験できます。
              br.pc
              | この他、縁結びのハート型絵馬に願いを書くことができます。
              br.pc
              | この絵馬は、本場島根の縁結びの神社でお焚き上げがしてもらえる
              br.pc
              | 特典付きです。
              br
              br
              | SFF2019で、島根への小旅行気分を味わってみてはいかがでしょうか？
      .wsBox
        .imgBox
          img(src=`${path}images/workshop5.jpg`, alt="workshop5")
        .wsInfo
          .wsTitles
            p.firstTxt 特別出店
            h3.wsName BOOK TRUCK(ブックトラック)
          .wsDesc
            p BOOK TRUCK は公園や駅前、野外イベントなどの行く先々に合わせて
              br.pc
              | その都度品揃えや形態が変わるフレキシブルな移動本屋です。
              br.pc
              | 新刊書、古書、洋書、リトルプレス、雑貨などを販売しています。
              br.pc
              | Twitter 
              a(href="https://twitter.com/mybooktruck", target="_blank") @mybooktruck
              br.pc
              | Instagram 
              a(href="https://www.instagram.com/book_truck/?hl=ja", target="_blank") @book_truck
              br.pc
              | Facebook 
              a(href="https://www.facebook.com/Booktruck/", target="_blank") https://www.facebook.com/Booktruck/
              br
              br
              | 会場であるテラススクエア正面玄関前に、BOOK TRUCK が
              br.pc
              | 1日限定で出店します。ブルーグレーのトラックで、SFF2019 に合わ
              br.pc
              | せた品揃えの本がたくさんやってきます！ぜひ、あなただけの
              br.pc
              | お気に入りの一冊を見つけてみてください。
  section#eventAcc.eventBox
    .title ACCESS
    p.subTitle 会場詳細
    dl.eventInfo
      dt.eventInfoTitle 開催時間 :&nbsp;
      dd.eventInfoDiscription 11:00〜17:00
      dt.eventInfoTitle 入場料金 :&nbsp;
      dd.eventInfoDiscription 無料
      dt.eventInfoTitle.tall 開催場所 :&nbsp;
      dd.eventInfoDiscription テラススクエア
        br
        | 東京メトロ半蔵門線・都営三田線・都営新宿線
        br
        | 神保町駅A9出口より徒歩2分
    #map