extends ../_layout
block init
  -
    const meta = {
      title: "Student Freepaper Forum",
      path: '../'
    }
    const page = {
      id: "event"
    }
block contents
  section.mainChildBox
    .eventTitle
      img(src=`${path}/images/menu-icon-3.svg`, alt="")
  section#eventMem.eventBox
    p.subTitle イベント内容
    .mainSentence SFF2019の会場内には、学生にとって関心の高いテーマからニッチなテーマまで、
      br
      | 多種多様なフリーペーパーが揃っています。
      br
      | 50の学生フリーペーパー団体が常駐する
      br.sp
      | ブースを構えておりますので、制作者との
      br
      | 対話・交流もお楽しみいただけます。
      br
      | （当日ご出席が難しい団体さまの媒体をご覧いただけるブースもございます。）
      br
      br
      | 1階ステージでは、学生フリーペーパーの
      br.sp
      | グランプリを決定する
      br.sp
      | コンテスト企画・第一線で
      br
      | 活躍するグラフィックデザイナーの方を
      br.sp
      | お呼びしたトークショーも開催いたします。
      br
      br
      | さらに、SFFオリジナルのワークショップ
      br.sp
      | 企画や、現役美大生による会場演出など、
      br
      | さまざまなコンテンツを
      br.sp
      | ご用意しております。
      br
      | 詳細は、下記の情報やタイムテーブルを
      br.sp
      | ご覧ください。
  section#eventMem.eventBox
    p.subTitle 学生出展媒体一覧
    .eventImgBox
      .eventImgInner
        .imgBox
          img(src=`${path}images/1_Magadipita.jpg`, alt="1_Magadipita")
        .imgTitle Magadipita
      .eventImgInner
        .imgBox
          img(src=`${path}images/2_ariozo.jpg`, alt="2_ariozo")
        .imgTitle アリオーゾ
      .eventImgInner
        .imgBox
          img(src=`${path}images/3_bootleg.jpg`, alt="3_bootleg")
        .imgTitle bootleg
      .eventImgInner
        .imgBox
          img(src=`${path}images/4_outmeiji.jpg`, alt="4_outmeiji")
        .imgTitle アウトメイジ
      .eventImgInner
        .imgBox
          img(src=`${path}images/5_tot.jpg`, alt="5_tot")
        .imgTitle tot
      .eventImgInner
        .imgBox
          img(src=`${path}images/7_wasekichi.jpg`, alt="7_wasekichi")
        .imgTitle ワセキチ
      .eventImgInner
        .imgBox
          img(src=`${path}images/8_backpacker.jpg`, alt="8_backpacker")
        .imgTitle BACKPACKER
      .eventImgInner
        .imgBox
          img(src=`${path}images/9_fastner.jpg`, alt="9_fastner")
        .imgTitle FASTNER
      .eventImgInner
        .imgBox
          img(src=`${path}images/10_ReGo.jpg`, alt="10_ReGo")
        .imgTitle Re:Go
      .eventImgInner
        .imgBox
          img(src=`${path}images/11_watcha.jpg`, alt="11_watcha")
        .imgTitle WATCHä!!
      .eventImgInner
        .imgBox
          img(src=`${path}images/12_each.jpg`, alt="12_each")
        .imgTitle each
      .eventImgInner
        .imgBox
          img(src=`${path}images/13_lovehotelzukan.jpg`, alt="13_lovehotelzukan")
        .imgTitle ラブホ図鑑
      .eventImgInner
        .imgBox
          img(src=`${path}images/14_whim.jpg`, alt="14_whim")
        .imgTitle whim
      .eventImgInner
        .imgBox
          img(src=`${path}images/15_SAN.jpg`, alt="15_SAN")
        .imgTitle SAN
      .eventImgInner
        .imgBox
          img(src=`${path}images/17_komastry.jpg`, alt="17_komastry")
        .imgTitle KOMASTRY
      .eventImgInner
        .imgBox
          img(src=`${path}images/18_Twinkle.jpg`, alt="18_Twinkle")
        .imgTitle Twinkle
      .eventImgInner
        .imgBox
          img(src=`${path}images/20_brauz.jpg`, alt="20_brauz")
        .imgTitle brauz
      .eventImgInner
        .imgBox
          img(src=`${path}images/21_wasedakoukoku.jpg`, alt="21_wasedakoukoku")
        .imgTitle 早稲田広告
      .eventImgInner
        .imgBox
          img(src=`${path}images/22_kotonoha.jpg`, alt="22_kotonoha")
        .imgTitle コトノハ
      .eventImgInner
        .imgBox
          img(src=`${path}images/23_mejimag.jpg`, alt="23_mejimag")
        .imgTitle mEJImag
      .eventImgInner
        .imgBox
          img(src=`${path}images/24_mix.jpg`, alt="24_mix")
        .imgTitle MIX
      .eventImgInner
        .imgBox
          img(src=`${path}images/25_mA.jpg`, alt="25_mA")
        .imgTitle mA
      .eventImgInner
        .imgBox
          img(src=`${path}images/26_tabiizyo.jpg`, alt="26_tabiizyo")
        .imgTitle たびぃじょ
      .eventImgInner
        .imgBox
          img(src=`${path}images/27_kuuls.jpg`, alt="27_kuuls")
        .imgTitle KUULS
      .eventImgInner
        .imgBox
          img(src=`${path}images/28_ikor.jpg`, alt="28_ikor")
        .imgTitle ikor
      .eventImgInner
        .imgBox
          img(src=`${path}images/29_chotbetter.jpg`, alt="29_chotbetter")
        .imgTitle Chot★Better
      .eventImgInner
        .imgBox
          img(src=`${path}images/30_blooming.jpg`, alt="30_blooming")
        .imgTitle blooming
      .eventImgInner
        .imgBox
          img(src=`${path}images/31_gift.jpg`, alt="31_gift")
        .imgTitle GIFT
      .eventImgInner
        .imgBox
          img(src=`${path}images/32_croquis.jpg`, alt="32_croquis")
        .imgTitle croquis
      .eventImgInner
        .imgBox
          img(src=`${path}images/35_KooBee.jpg`, alt="35_KooBee")
        .imgTitle KooBee
      .eventImgInner
        .imgBox
          img(src=`${path}images/36_GMODE.jpg`, alt="36_GMODE")
        .imgTitle GMODE
      .eventImgInner
        .imgBox
          img(src=`${path}images/38_homegrow.jpg`, alt="38_homegrow")
        .imgTitle HOME GROW
      .eventImgInner
        .imgBox
          img(src=`${path}images/39_ReALL.jpg`, alt="39_ReALL")
        .imgTitle Re:ALL
      .eventImgInner
        .imgBox
          img(src=`${path}images/40_UUPRAS.jpg`, alt="40_UUPRAS")
        .imgTitle うーたす！
      .eventImgInner
        .imgBox
          img(src=`${path}images/41_iki.jpg`, alt="41_iki")
        .imgTitle iki
      .eventImgInner
        .imgBox
          img(src=`${path}images/42_Apollo.jpg`, alt="42_Apollo")
        .imgTitle Apollo
      .eventImgInner
        .imgBox
          img(src=`${path}images/43_raw.jpg`, alt="43_raw")
        .imgTitle RAW
      .eventImgInner
        .imgBox
          img(src=`${path}images/44_VIVID.jpg`, alt="44_VIVID")
        .imgTitle VIVID
      .eventImgInner
        .imgBox
          img(src=`${path}images/45_LinKU.jpg`, alt="45_LinKU")
        .imgTitle LinKU
      .eventImgInner
        .imgBox
          img(src=`${path}images/47_seel.jpg`, alt="47_seel")
        .imgTitle Seel
      .eventImgInner
        .imgBox
          img(src=`${path}images/48_IU.jpg`, alt="48_IU")
        .imgTitle IU
      .eventImgInner
        .imgBox
          img(src=`${path}images/49_in.jpg`, alt="49_in")
        .imgTitle in
      .eventImgInner
        .imgBox
          img(src=`${path}images/51_wasedalinks.jpg`, alt="51_wasedalinks")
        .imgTitle WASEDA LINKS
      .eventImgInner
        .imgBox
          img(src=`${path}images/52_TanTan.jpg`, alt="52_TanTan")
        .imgTitle TanTan
      .eventImgInner
        .imgBox
          img(src=`${path}images/54_R'smagazine.jpg`, alt="54_R'smagazine")
        .imgTitle R'smagazine
      .eventImgInner
        .imgBox
          img(src=`${path}images/57_SPC.jpg`, alt="57_SPC")
        .imgTitle SPC
      .eventImgInner
        .imgBox
          img(src=`${path}images/58_Ricerca.jpg`, alt="58_Ricerca")
        .imgTitle Ricerca
      .eventImgInner
        .imgBox
          img(src=`${path}images/59_Revo.jpg`, alt="59_Revo")
        .imgTitle Revo
  section#eventSch.eventBox
    .title TIMETABLE
    p.subTitle 当日の流れ
    p.limited comming soon
  section#eventTak.eventBox
    .title TALKSHOW
    p.limited comming soon
  section#eventWor.eventBox
    .title WORKSHOP
    p.subTitle 体験しよう！
    p.limited comming soon
  section#eventAcc.eventBox
    .title ACCESS
    p.subTitle 会場詳細
    dl.eventInfo
      dt.eventInfoTitle 開催時間 :&nbsp;
      dd.eventInfoDiscription 11:00〜17:00
      dt.eventInfoTitle 入場料金 :&nbsp;
      dd.eventInfoDiscription 無料
      dt.eventInfoTitle.tall 開催場所 :&nbsp;
      dd.eventInfoDiscription テラススクエア
        br
        | 東京メトロ半蔵門線・都営三田線・都営新宿線　神保町駅A9出口より徒歩2分
    #map