footer.gFooter
  .footerFlexBox
    .contentBox
      h3.footerTitle CONTENTS
      ul.gContent
        li.gContentInner
          p.contentTitle ABOUT
          .contentDetail
            a(href=`${path}/about/#aboutSff`)
              span.childArrow ▶︎
              span.childTxt sffとは
            a(href=`${path}/about/#aboutCpt`)
              span.childArrow ▶︎
              span.childTxt コンセプト
            a(href=`${path}/about/#aboutVis`)
              span.childArrow ▶︎
              span.childTxt ビジュアルについて
        li.gContentInner
          p.contentTitle EVENT
          .contentDetail
            a(href=`${path}/event/#eventMem`)
              span.childArrow ▶︎
              span.childTxt 学生出展媒体一覧
            a(href=`${path}/event/#eventSch`)
              span.childArrow ▶︎
              span.childTxt 当日の流れ
            a(href=`${path}/event/#eventWor`)
              span.childArrow ▶︎
              span.childTxt 体験しよう！
            a(href=`${path}/event/#eventAcc`)
              span.childArrow ▶︎
              span.childTxt 会場詳細
        li.gContentInner
          p.contentTitle TOPICS & NEWS
          .contentDetail
            a(href=`${path}/#tn`)
              span.childArrow ▶︎
              span.childTxt 最新ニュース
          nav
            ul
              li.gContentInner
                p.contentTitle CONTEST
                .contentDetail
                  a(href=`${path}/contest/#contestSch`)
                    span.childArrow ▶︎
                    span.childTxt スケジュール
                  a(href=`${path}/contest/#contestJude`)
                    span.childArrow ▶︎
                    span.childTxt 審査基準
                  a(href=`${path}/contest/#contestJude02`)
                    span.childArrow ▶︎
                    span.childTxt 審査員
                  a(href=`${path}/contest/#contestInf`)
                    span.childArrow ▶︎
                    span.childTxt 参加団体の皆さまへ
                  a(href=`${path}/contest/#contesGui`)
                    span.childArrow ▶︎
                    span.childTxt 当日イベントについてのご案内
        li.gContentInner
          p.contentTitle Blog
          .contentDetail
            a(href="https://partner-web.jp/writer/?id=103")
              span.childArrow ▶︎
              span.childTxt 応募団体一覧
          nav
            ul
              li.gContentInner
                p.contentTitle CONTEST
                .contentDetail
                  a(href="https://forms.gle/pWooQHANxXuTR5867")
                    span.childArrow ▶︎
                    span.childTxt お問い合わせ
    .otherBox
      h3.footerTitle OTHER
      ul.gOtherList
        li.gOtherInner
          a(href="https://www.facebook.com/sff.web/").faceBook
        li.gOtherInner
          a(href="https://twitter.com/SFF__2019").twitter
        li.gOtherInner
          a(href="https://www.instagram.com/sff2019.event/").instaGram
        li.gOtherInner
          a(href="https://partner-web.jp/writer/?id=103").partner
      .gOtherContact
        a(href="https://forms.gle/pWooQHANxXuTR5867") お問い合わせフォーム
  .cprTxtBox
    p.cptTxt &copy;Student Freepaper Forum 2019 partner
